<div class="new_question_area">
  <h1>New Question Submission</h1>
  <h2>Please fill out the the information below to post a new question:</h2>
</div>

<div class='error_message'>
	<%if @errors %>
	  <ul>
	    <% @errors.each do |error| %>
	      <li><%= error %></li>
	    <%end%>
	  </ul>
  <%end%>
</div>

<form action="/questions" method="post">
  <label for="title">Question Title:</label>
  <input type="text" name="title" />
  <label for="body">Detailed Question:</label>
  <textarea name="body" rows='10' cols='75'></textarea>
  <input type="submit" value= "Post">
</form>
