/* main components */

body {
	background-color: #ccffcc;
	color: #3a1a14;
}

h1 {
	margin-left: .75em;
	padding-left: 1em;
	font-size: 6em;
	font-family: 'Lily Script One', cursive;
	border-bottom: 3px double #3a1a14;
}

h2 {
	font-weight: 400;
}

body:not(h1), body:not(h2) {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
}

a, a:visited {
	color: #3a1a14;
}

a:hover, a:active {
	color: #0000e6;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.vote {
		margin-right: 20%;
}

.vote button {
	border: 1px solid #3a1a14;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	background-color: #ccffcc;
}

input[type=submit] {
	border: 1px solid #3a1a14;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	background-color: #ccffcc;
}


/* layout-specific */

.navbar {
	margin-top: 10px;
	padding-top: 15px;
}

.navbar li {
	display: inline;
	float: right;
	padding: 20px;
}

.navbar li a {
	margin: 0;
	padding: 3px;
	font-size: 1.2em;
}

.main {
	margin-left: .75em;
	padding-left: 1em;
}


/* main index */

.index-container h2 {
	padding: 10px;
	margin-left: 30px;
	font-size: 2.2em;
}

.index-container li {
	padding: 7px;
	font-size: 1.2em;
}

#new_question {
	display: block;
	padding-left: 3em;
	margin: 1.5em;
	font-size: 2em;
}


/* question show */

.question-container {
	margin: 1.5em;
	margin-top: 50px;
	margin-left: .75em;
	padding: 1em;
	border: 1px solid #3a1a14;
	max-width: 100%;
}

.question-container h2 {
	margin-left: 15%;
	max-width: 70%;
	text-align: center;
	font-size: 3em;
	border-bottom: 1px solid #3a1a14;
	margin-bottom: 20px;
}

.question-container form {
	margin-top: 5px;
	float: left;
}

.question-body {
	margin-left: 60px;
	font-size: 1.4em;
}

.question.footer {
	margin-left: 5%;
}

.comment {
	font-size: .9em;
	max-width: 100%;
	margin-left: 10%;
}

.comment_link {
	margin-top: 2px;
	display: block;
	float: right;
	padding: 12px;
}

.footer {
  font-size: .75em;
  color: gray;
}

.answer {
  padding: 5px;
  border-top: 3px solid #3a1a14;
}

.answer.body {
	font-size: 1.25em;
	position: relative;
	top: -31px;
	margin-left: 5%;
	margin-right: 12%;
	padding-bottom: 0;
}

.answer-container .comment_link {
		border: 1px solid #3a1a14;
}

.best button {
	border: 1px solid #3a1a14;
	padding: 5px;
	padding-left: 11px;
	padding-right: 11px;
	text-align: center;
	background-color: #ccffcc;
}
