body {
	background-color: #ccffcc;
}

h1 {
	margin-left: .75em;
	padding-left: 1em;
	font-size: 6em;
	font-family: 'Lily Script One', cursive;
	border-bottom: 3px double black;
}

a, a:visited {
	color: black;
}

a:hover, a:active {
	color: #ff0000;
	text-decoration: none;
}

.navbar {
	margin-top: 10px;
	padding-top: 15px;
}

.navbar li a {
	margin: 0;
	padding: 3px;
	font-size: 1.2em;
}

.question-container {
	border: 1px solid black;
}

.footer{
  font-size: .75em;
  color: grey;
}

.comment{
  font-size: .8em;

}

.answer {
  padding: 5px;
  border-top: 3px solid black;
}

.navbar li {
	display: inline;
	float: right;
	padding: 20px;
}

.font {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	border: 1px solid black;
}