<div class='comment' id='<%= comment.id %>'>
  <%= comment.body %>
  <div class='comment footer'>
    <%= comment.user.username %> wrote this comment on <%= comment.created_at.strftime('%D') %>
  </div>
</div>
<br>
