<div class="registration_area">
  <h1>Registration</h1>
  <h2>Please fill out the the information below to create a new profile</h2>
</div>

<div class='error_message'>
 <%if @errors %>
  <p><%= @errors %> </p>
  <%end%>
</div>


<form action="/users" method="post">
  <label for="username">User Name:</label>
  <input type="text" name="username" />
  <br>

  <label for="email">Email:</label>
  <input type="text" name="email" / >
  <br>

  <label for="password">Password:</label>
  <input type="text" name="password" />
  <br>

  <input type="submit" value= "Create profile">

</form>
